<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Restaurant System</title>
  </head>
  <style>
    .logo { width: 140px; } header > nav { background-color: #fff;
    border-bottom: 1px solid #F4F4F4; padding: 2px; } header > nav > ul {
    display: flex; gap: 20px; list-style: none; }
  </style>
  <header>
    <nav>
      <ul>
        <li><a href="/"><img class="logo" src="/logo/hjm-logo.png" /></a></li>
      </ul>
    </nav>
  </header>
  {{{body}}}
</html>