<link lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Restaurant System</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
  </head>
  <link href="/navbar-styles.css" rel="stylesheet"></link>
  <style>
  </style>
  <header>
    <nav>
      <ul>
        <li><a href="/"><img class="logo" src="/logo/hjm-logo.png" /></a></li>
        <li><a href="order-status">Order Status</a></li>
        <li> <a href="/orders">Orders</a></li>
        <li><a href="/drivers">Drivers</a></li>
      </ul>
    </nav>
  </header>
  {{{body}}}
</html>