<link lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Restaurant System</title>
  </head>
  <link href="/navbar-styles.css" rel="stylesheet"></link>
  <style>
  </style>
  <header>
    <nav>
      <ul>
        <li><a href="/"><img class="logo" src="/logo/hjm-logo.png" /></a></li>
        <li> <a href="/orders">Orders</a></li>
        <li><a href="/drivers">Drivers</a></li>
      </ul>
    </nav>
  </header>
  {{{body}}}
</html>