<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HJM Restaurant</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>

<body>
    <header>
        <div class="left-header">
            <img src="../images/hjm-logo.png" alt="logo">
            {{!-- <h1>HJM DRIVER APP</h1> --}}
        </div>
        {{#if loggedIn}}
        <div class="right-header">
            <a href="/logout">Logout</a>
        </div>
        {{/if}}

    </header>
    <main>
        {{#if loggedIn}}
        <div class="headContent">
            <h1>${{total}}</h1>
            <p>Your Total Earnings</p>
            <h2>Welcome {{name}}</h2>
        </div>
        {{/if}}
        {{{body}}}
    </main>


    <footer>
        <img src="images/soup-bowl.png" alt="soup-bowl">
        <h2>HJM DRIVER APP</h2>
        <h2>© All Rights Resesrved</h2>
    </footer>
</body>

</html>