body {
    font-family: 'Inter', sans-serif;
    background-color: #f6f6f6;
    margin: 0;
    padding: 0;
    font-size: 14px;
}

.logo {
    width: 140px;
}

.align-container {
    background-color: #ffffff;
    width: 30%;
    margin: 60px auto;
    border-radius: 30px;
}
  

.item-container {
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.tip-button {
    padding: 10px 15px; 
    border-radius: 15px;
    border: none;
}

.tip-button:hover {
    background-color: #B4B4B3;
}

.tip-button.selected {
    background-color: black;
    color: white;
}

.item-container > input, textarea {
    font-family: 'Inter', sans-serif;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    border-radius: 10px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;    
}
.item-container > input:focus, textarea:focus {
    border: 3px solid #555;
}


#place-order-button {
    width: 100%;
    background-color: #79AC78; 
    color: white; 
    padding: 15px 0;
    border-radius: 10px;
    border: none;
}

#place-order-button:hover {
    background-color: #618264;
}